{% extends "base.html" %}
{% block content %}

    <h3 class="header-text black-text">Contact Page</h3>
    <p class="sub-text black-text">Fill out the form below to contact us with any problems you may
        have with the site, or with any improvements you think could improve the site
    </p>

    <h3 class="black-text">Contact Form</h3>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('contact_page') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                    <input id="email" name="email" type="text" minlength="5"
                            maxlength="45" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-edit prefix light-blue-text text-darken-4"></i>
                    <textarea id="improvements" name="improvements" minlength="5"
                        maxlength="1000" class="materialize-textarea" required></textarea>
                    <label for="improvements">Improvements</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}